<div class="grid">

  <div class="grid__item post-large--two-thirds push--post-large--one-sixth">

    <!--<div class="section-header">
      <h1 class="section-header--title">{{ page.title }}</h1>
      <h2 class="section-header--title">{{ page.title }}</h2>
    </div>

    <div class="rte">
      {{ page.content }}
    </div>-->
    
    <div id="subLeftCol">
      <h2 class="section-header--title">{{ page.title }}</h2>
      <p class="subpage-text-nav">← <a href="/" title="Back to Home">Back to Home</a> | <a href="#order" title="Order Now!">Order Now!</a> ↓</p>
    	{{ page.content }}
    </div>
    <div id="subRightCol">
      <div class="dtm-sn-header" data-sn-id="12922" style="width: 100%; height: 1px; display: none;"></div> 
     	<a href="#order" alt="Fill Out The Form Below To Order Your Neater Bag™ Dispenser Now! This Offer Is Not Available In Stores!">{{ 'neater-bag-sub-offer.jpg' | file_url | img_tag }}</a>
    </div>
    <div class="clearer"></div>
    
  </div>
</div>
